;;文件名应为：地图名.cfg
;;使用;会注释掉该行文本，即该行文本无效
;;Example - 过滤掉所有bomb
filter:
{
   "classname" "/.*bomb.*/"
}

;;Example - 添加一个人质模型在T出生点
add:
{
   "origin" "1376 3168 -112"   ;这是位置参数，即实体产生的坐标
   "HostageType" "0"
   "angles" "0 111 0"   
   "classname" "hostage_entity"
}

;;Example - 移除某一实体
remove:
{
	"classname" "weapon_m3"
}

;;Example - 修改某一实体参数
modify:
{
	match:      ;这是用来匹配相应实体
	{
		"targetname" "实体自定名"
		"classname" "实体实际名"
	}
	delete:      ;这是删除输出
	{
		"OnStartTouch" "cmdCommandsay >> We need to hold the Plains District for 40 seconds HOLD THEM BACK! <<01"
	}
	insert:       ;这是插入输出
	{
		"OnStartTouch" "cmdCommandsay >> We need to hold the Plains District for 45 seconds HOLD THEM BACK! <<01"
	}
}
